/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0d1b2a;
}

/* Sticky Navigation */
.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #778da9;

  padding: 10px 0;
  z-index: 100;
  text-align: center;
  box-shadow: 0px 0px 6px 2px #778da96e;
}

.sticky-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sticky-nav ul li a {
  color: #0d1b2a;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.sticky-nav ul li a:hover {
  color: #88cfff;
}

/* About Section */
.about-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #1b263b;
}

.about-section h1 {
  color: #e0e1dd;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1.2rem;
  color: #778da9;
}

/* Masonry Grid Portfolio Section */
.portfolio-section {
  width: 60%;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: #0d1b2a;
}
/* !grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 15px;
}

/* Grid Item Styles */
.grid-item {
  background-color: #e0e1dd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.grid-item.tall {
  grid-row: span 2;
}

.grid-item.wide {
  grid-column: span 2;
}

/* Hover Animation for Grid Items */
.grid-item:hover {
  transform: scale(1.02);
}

.grid-item .content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.grid-item .content p {
  color: #555;
}

/* Contact Section */
.contact-section {
  text-align: center;
  padding: 10px 10px;
  background-color: #1b263b;
  color: white;
}

.contact-section h2 {
  font-size: 1em;
  margin-bottom: 10px;
}

.contact-section p {
  font-size: 0.9em;
  color: #555;
}
