/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #222; /* Dark mode background */
  color: #fff;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header h1 {
  font-size: 2rem;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #ff9800; /* Subtle highlight effect */
}

.section {
  min-height: 100vh;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#intro {
  background: linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)),
    url("https://cdn.pixabay.com/photo/2022/11/24/21/25/oak-7615084_1280.jpg");
}

#projects {
  background: url("https://cdn.pixabay.com/photo/2024/05/22/14/54/flowers-8780868_960_720.jpg");
}

#contact {
  background: url("https://cdn.pixabay.com/photo/2023/10/13/17/10/mushroom-8313142_640.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.project-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.project-item {
  margin: 0.5em;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.project-item:hover {
  transform: scale(1.05);
  background-color: #0c0024; /* Highlight effect */
}

footer {
  padding: 20px;
  text-align: center;
  background: #333;
}

/* Loading Spinner Styles */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.spinner {
  border: 16px solid #f3f3f3; /* Light gray */
  border-top: 16px solid #555; /* Darker color */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
