/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Portfolio Container */
.portfolio-container {
  width: 100vw;
  height: 100vh;
}

/* Section Styles */
.portfolio-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height for each section */
  overflow: hidden;
  color: white;
}

/* Intro Section */
.intro {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Project Sections */
.project {
  display: flex;
  align-items: center;
}

/* Content in Project Sections */
.content {
  position: relative;
  z-index: 2;
  padding: 20px;
  max-width: 600px;
}

/* Background Images */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  transform: translateZ(0);
  transition: transform 0.5s ease; /* Transition for parallax effect */
}

/* Conclusion Section */
.conclusion {
  background: conic-gradient(#e9ac67, #e9ac67, #778da9, #778da9, #e9ac67);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Smooth Scroll Effect */
html {
  scroll-behavior: smooth;
}
