:root {
  --primary-color: #4e4cff;
  --secondary-color: #3b3b98;
  --bg-color: #e0e5ec;
  --text-color: #333;
  --input-bg-color: #f0f0f3;
  --shadow-light: #ffffff;
  --shadow-dark: #a3b1c6;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  overflow: hidden;
  padding: 10px;
}

.split-screen-container {
  display: flex;
  width: 70%;
  height: 90vh;
  gap: 1rem;
  /* background-color: var(--bg-color); */
  border-radius: 20px;
  position: relative;
}

.project-list {
  width: 15%;
  background-color: var(--bg-color);
  padding: 20px;
  overflow-y: auto;
  border-radius: 20px;
  box-shadow: inset 8px 8px 16px var(--shadow-dark),
    inset -8px -8px 16px var(--shadow-light);
}

#profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.project-item {
  list-style: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px 0;
  background-color: var(--bg-color);
  box-shadow: 4px 4px 8px var(--shadow-dark), -4px -4px 8px var(--shadow-light);
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.project-item:hover {
  box-shadow: 4px 4px 8px var(--shadow-light), -4px -4px 8px var(--shadow-dark);
}

.project-details {
  width: 85%;
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 20px;
  box-shadow: inset 8px 8px 16px var(--shadow-dark),
    inset -8px -8px 16px var(--shadow-light);
}

.project-content {
  display: none;
}

.project-content.active {
  display: block;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: var(--input-bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 8px 8px 16px var(--shadow-dark),
    inset -8px -8px 16px var(--shadow-light);
}

#item-image {
  height: auto;
  width: 400px;
  border-radius: 10px;
  columns: 2;
  padding: 20px;
  box-shadow: 4px 4px 8px var(--shadow-dark), -4px -4px 8px var(--shadow-light);
  margin: 10px;
}

/* Responsive Styling */
@media (max-width: 1200px) {
  .split-screen-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .split-screen-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px;
  }

  .project-list {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .project-details {
    width: 100%;
    height: auto;
  }

  #item-image {
    width: 100%;
    columns: 1;
  }
}

@media (max-width: 480px) {
  .project-item {
    font-size: 1rem;
  }

  .project-list {
    padding: 10px;
  }

  .project-details {
    padding: 10px;
  }
}